/* ----- reset ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', serif;
}

.limite {
  margin: 0 auto;
  overflow: hidden;
  width: 1200px;
}



/* ----- destaque ----- */
.destaque {
  background: url(../img/01.jpg) fixed;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.destaque-titulo {
  background: rgba(202, 179, 165, .5);
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -250px;
  padding-top: 28px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  width: 500px;
}

.destaque-profissao {
  font-size: 27px;
  font-weight: 100;
  letter-spacing: 5px;
  word-spacing: 10px;
}



/* ----- principal ----- */
.principal {
  background: #ebebeb;
  position: absolute;
  top: 100%;
  width: 100%;
}



/* ----- projetos ----- */
.projetos {
  margin-left:-40px;
  padding: 60px 0 80px;
}

.projetos-lista {
  margin-left: -40px;
  overflow: hidden;
}

.projetos-item {
  float: left;
  margin-top: 20px;
  padding-left: 40px;
  width: 33.33%;
}

.projetos-box {
  display:block;
  height: 250px;
  position: relative;
}

.projetos-imagem {
  background: #fff;
  height: 100%;
  padding: 10px;
  width: auto;
}