/* ----- reset ----- */
*{box-sizing:border-box; margin:0; padding:0;}

html, body{height:100%;}

body{color:#333; font-family: Arial, serif;}



/* ----- limite ----- */
.limite{}



/* ----- topo ----- */
.topo{
  background-image:
    linear-gradient(to bottom, #000, #000), linear-gradient(to bottom, rgba(#000, 1), rgba(#000, .1)), url(../img/topo.jpg);
  background-repeat:no-repeat;
  background-attachment:scroll, scroll, fixed;
  background-position:center bottom, center center, center bottom;
  background-size:100% 450px, 100% 100%, cover;

  height:100%; left:0; position:absolute; top:0; width:100%;
}



/* ----- principal ----- */
.principal{background:#ccc; position:absolute; top:100%; min-height:300px; width:100%;}