/* ----- reset ----- */
*{box-sizing:border-box; margin:0; padding:0; transition:all 500ms;}

::root{font-size:10px;}

html, body{height:100%;}

body{color:#333; font-family: 'Lato', Arial, serif;}



/* ----- variaveis ----- */
$preto:  #000;
$branco: #fff;



/* ----- limite ----- */
.limite{
	overflow:hidden;

	@media (max-width:739px) {
		margin:0 40px;
	}

	@media (min-width:740px) {
		margin:0 auto; max-width:700px;
	}
}



/* ----- secao ----- */
.secao{
	@media (max-width:499px) {
		padding:40px 0;
	}
	@media (min-width:500px) {
		padding:60px 0;
	}
}




/* ----- titulos ----- */
.tt{
	background-image:linear-gradient(to right, $preto, $preto); background-repeat:no-repeat; background-position:center bottom; font-weight:300; letter-spacing:1px; padding-bottom:10px; text-align:center; text-transform:uppercase;

	@media (max-width:499px) {
		background-size:50px 2px; font-size:1.5rem; margin-bottom:40px;
	}

	@media (min-width:500px) {
		background-size:80px 2px; font-size:1.8rem; margin-bottom:60px;
	}
}



/* ----- fundo ----- */
.fundo{background:linear-gradient(to bottom, rgba($preto, .9), rgba($preto, .5)), url(../img/topo.jpg) no-repeat fixed center top; background-size:cover; height:50%; left:0; position:absolute; top:0; width:100%;}



/* ----- topo ----- */
.topo{
  background:rgba(#111, 1); color:$branco; height:50%; left:0; letter-spacing:2px; position:absolute; text-align:center; top:50%; width:100%;

  &-tt{text-transform:uppercase;}

  &-profissao{font-weight:100;}

  @media (max-width:499px) {
  	&-logo     {height:100px; margin-top:-50px; width:auto;}
  	&-tt       {font-size:2.2rem; margin-top:20px;}
  	&-profissao{font-size:1.1rem; margin-top:15px;}
  }

  @media (min-width:500px) {
  	&-logo     {height:150px; margin-top:-75px; width:150px;}
  	&-tt       {font-size:3rem; margin-top:20px;}
  	&-profissao{font-size:1.3rem; margin-top:15px;}
  }
}



/* ----- principal ----- */
.principal{position:absolute; top:100%; min-height:2000px; width:100%;}



/* ----- sobre ----- */
.sobre{
	background:#eee;

	&-foto{border-radius:100%; width:110px;}

	&-link      {color:$preto;}
	&-link:hover{text-decoration:none;}

	@media (max-width:629px) {
		&-foto {display:block; margin:0 auto;}
		&-texto{margin-top:15px;}
	}

	@media (min-width:630px) {
		&-foto {float:left; margin-right:20px;}
		&-texto{padding-top:15px;}
	}
}



/* ----- habilidades ----- */
.habilidades{
	background:linear-gradient(to bottom, rgba($preto, .9), rgba($preto, .5)), url(../img/topo.jpg) no-repeat fixed center top; background-size:cover; color:$branco;

  &-tt{background-image:linear-gradient(to right, $branco, $branco);}

	&-lista       {margin:-20px auto 0; overflow:hidden;}
	&-item        {list-style:none; letter-spacing:1px; margin-top:20px;}
	&-item::before{background-color:$branco; background-repeat:no-repeat; background-position:center; border-radius:100%; content:''; display:inline-block; float:left; margin-right:20px;}

  &-html::before      {background-image:url(../svg/html-5.svg);}
  &-css::before       {background-image:url(../svg/html-5.svg);}
  &-javascript::before{background-image:url(../svg/html-5.svg);}
  &-jquery::before    {background-image:url(../svg/html-5.svg);}
  &-sass::before      {background-image:url(../svg/html-5.svg);}
  &-git::before       {background-image:url(../svg/html-5.svg);}
  &-grunt::before     {background-image:url(../svg/html-5.svg);}
  &-responsivo::before{background-image:url(../svg/html-5.svg);}

  @media (max-width:559px) {
    &-item        {height:35px; line-height:35px;}
    &-item::before{background-size:25px 25px; height:35px; width:35px;}
  }

  @media (min-width:560px) {
    &-lista       {width:480px;}
    &-item        {float:left; height:50px; line-height:50px; width:240px;}
    &-item::before{background-size:35px 35px; height:50px; width:50px;}
  }
}



/* ----- portfolio ----- */
.portfolio{
	&-item{float:left; overflow:hidden; position:relative;}

	&-braavo {}
	&-birden {}
	&-ism    {}
	&-voa    {}
	&-tdc    {}
	&-emporio{}

	&-foto,
	&-link{height:100%; left:0; position:absolute; top:0; max-width:100%; width:100%;}

	@media (max-width:499px) {
		&-item{padding-bottom:67%; width:100%;}
	}

	@media (min-width:500px) and (max-width:899px) {
		&-item{padding-bottom:33.6%; width:50%;}
	}

	@media (min-width:900px) {
		&-item{padding-bottom:22.3%; width:33.33%;}
	}
}
