/* ----- reset ----- */
*
	box-sizing: border-box
	margin: 0
	padding: 0
	transition: all 500ms

input
	border-radius: 0
	-webkit-appearance: none

html, body
	height: 100%


body
	color: #000
	font: 100 18px/1.3em 'Lato', Arial, serif



/* ----- variaveis ----- */
$img: '../img/'

$preto:    #000
$branco:   #fff
$vermelho: #ff5f5f
$cinza:    #42494f



/* ----- secao ----- */
@media (max-width:499px)
	.secao
		padding: 40px 0
	
@media (min-width:500px)
	.secao
		padding: 80px 0



/* ----- topo ----- */
.topo
	left: 0
	height: 100%
	overflow: hidden
	position: absolute
	top: 0
	width: 100%
		
	&-pattern
		background: rgba($preto, .7)
		height: 100%
		left: 0
		position: absolute
		top: 0
		width: 100%
		z-index: 2
		
	&-limite
		color: $branco
		left: 50%
		position: absolute
		transform: translate(-50%, 0)
		top: 50%
		z-index: 3
		
	&-nome
		font-weight: 400
		text-transform: uppercase
		word-spacing: 5px
		
	&-profissao
		font-weight: 300
		text-transform: uppercase
		
	@media (max-width:749px)		
		background: url(#{$img}topo-caue-750.jpg) no-repeat center right
		background-size: cover
		
		&-video
			display: none
	
		&-nome,
		&-profissao
			letter-spacing: 2px
			text-align: center
	
		&-nome
			font-size: 35px
			margin-bottom: 15px
			word-spacing: 5px
			
		&-profissao
			font-size: 15px
			word-spacing: 5px
			
	@media (min-width:750px)
		background: url(#{$img}topo-caue-1750.jpg) no-repeat center
		background-size: cover
	
		&-video
			left: 50%
			min-height: 100%
			min-width: 100%
			position: absolute
			transform: translate(-50%, -50%)
			top: 50%
			z-index: 1
			
	@media (min-width:750px) and (max-width:1049px)
		&-nome
			font-size: 49px
			margin-bottom: 25px
			word-spacing: 2px
			
		&-profissao
			font-size: 19px
			letter-spacing: 3px
			word-spacing: 2px
			
	@media (min-width:1050px) and (max-width:1299px)
		&-nome
			font-size: 59px
			margin-bottom: 35px
			word-spacing: 2px
			
		&-profissao
			font-size: 24px
			letter-spacing: 3px
			word-spacing: 2px
		
	@media (max-width:1299px)
		&-limite
			width: 90%
		
	@media (min-width:1300px)
		&-limite
			width: 1200px
			
		&-nome,
		&-profissao
			word-spacing: 5px
			
		&-nome
			font-size: 69px
			margin-bottom: 45px
			
		&-profissao
			font-size: 27px
			letter-spacing: 4px



/* ----- principal ----- */
.principal
	position: absolute
	top: 100%
	width: 100%
	z-index: 1



/* ----- portfolio ----- */
.portfolio
	background: $branco
	overflow: hidden
	padding-bottom: 0
	
	&-tt
		background: linear-gradient(to right, $vermelho, $vermelho) no-repeat center bottom
		background-size: 100px 2px
		font-size: 40px
		font-weight: 300
		margin-bottom: 80px
		padding-bottom: 30px
		text-align: center
	
	&-item
		float: left
		overflow: hidden
		position: relative

	&-item:hover .portfolio-foto
		transform: scale(1.5)

	&-item:hover .portfolio-info
		background: rgba($preto, .8)
		opacity: 1

	&-foto,
	&-info,
	&-link,
		height: 100%
		left: 0
		position: absolute
		top: 0
		max-width: 100%
		width: 100%

	&-info
		color: $branco
		opacity: 0

	&-empresa,
	&-tipo
		position: absolute
		text-align: center
		top: 50%
		width: 100%
		word-spacing: 5px

	&-empresa
		display: block
		font-size: 22px
		margin-top: -20px
		text-transform: uppercase

	&-tipo
		display: block
		margin-top: 20px
	
@media (max-width: 499px)
	.portfolio
		&-item
			padding-bottom: 67%
			width: 100%

@media (min-width: 500px) and (max-width: 899px)
	.portfolio
		&-item
			padding-bottom: 33.6%
			width: 50%

@media (min-width: 900px)
	.portfolio
		&-item
			padding-bottom: 22.3%
			width: 33.33%



/* ----- contato ----- */
.contato
	&-limite
		color: $branco
		margin: 0 auto
		overflow: hidden
		
	&-tt
		font-weight: 300
	
	&-github,
	&-email
		text-align: center
	
	&-github
		background: $vermelho
		
		&-link
			border-bottom: 1px solid rgba($branco, .5)
			color: $branco
			letter-spacing: 1px
			text-decoration: none
		
			&:hover
				border: none
			
	&-email
		background: $cinza
		
		&-texto
			font-style: normal
			letter-spacing: 1px
		
	@media (max-width:499px)
		font-size: 16px
	
		&-tt
			font-size: 24px
			margin-bottom: 25px
	
		&-github,
		&-email
			padding: 50px 0
			
	@media (min-width:500px)
		&-github,
		&-email
			width: 50%
		
		&-github
			float: left
			
		&-email
			float: right
			
	@media (min-width:500px) and (max-width:899px)
		font-size: 16px
	
		&-tt
			font-size: 24px
			margin-bottom: 25px
	
		&-github,
		&-email
			padding: 100px 0
	
	@media (min-width:900px)
		font-size: 20px
	
		&-tt
			font-size: 35px
			margin-bottom: 50px
	
		&-github,
		&-email
			padding: 150px 0