/* ----- reset ----- */
*
	box-sizing: border-box
	margin: 0
	padding: 0
	transition: all 500ms

input
	border-radius: 0
	-webkit-appearance: none

html, body
	height: 100%


body
	color: #000
	font: 100 18px/1.3em 'Lato', Arial, serif



/* ----- variaveis ----- */
$img: '../img/'

$preto:    #000
$branco:   #fff
$vermelho: #f00



/* ----- limite ----- */
.limite
	overflow: hidden
	
@media (max-width: 739px)
	.limite
		margin: 0 40px

@media (min-width: 740px)
	.limite
		margin: 0 auto
		max-width: 700px



/* ----- secao ----- */
@media (max-width:499px)
	.secao
		padding: 40px 0
	
@media (min-width:500px)
	.secao
		padding: 80px 0



/* ----- titulos ----- */
.tt
	background-image: linear-gradient(to right, $preto, $preto)
	background-repeat: no-repeat
	background-position: center bottom
	font-size: 22px
	font-weight: 300
	letter-spacing: 1px
	padding-bottom: 10px
	text-align: center
	text-transform: uppercase

@media (max-width: 499px)
	.tt
		background-size: 50px 2px
		margin-bottom: 40px

@media (min-width: 500px)
	.tt
		background-size: 80px 2px
		margin-bottom: 60px




/* ----- topo ----- */
.topo
	background-size: cover
	left: 0
	height: 100%
	overflow: hidden
	position: absolute
	top: 0
	width: 100%
		
	&-pattern
		background: rgba($preto, .7)
		height: 100%
		left: 0
		position: absolute
		top: 0
		width: 100%
		z-index: 2
		
	&-info
		color: $branco
		left: 50%
		position: absolute
		transform: translate(-50%, 0)
		top: 50%
		z-index: 3
		
	&-nome
		font-weight: 400
		text-transform: uppercase
		word-spacing: 5px
		
	&-profissao
		font-weight: 300
		text-transform: uppercase
		
	@media (max-width:749px)
		background: url(#{$img}topo-caue-750.jpg) no-repeat center right
	
		&-video
			display: none
			
	@media (max-width:749px)
		text-alight: center
	
		&-nome,
		&-profissao
			letter-spacing: 2px
			text-align: center
	
		&-nome
			font-size: 35px
			margin-bottom: 15px
			word-spacing: 5px
			
		&-profissao
			font-size: 15px
			word-spacing: 5px
			
	@media (min-width:750px)
		&-video
			left: 50%
			min-height: 100%
			min-width: 100%
			position: absolute
			transform: translate(-50%, -50%)
			top: 50%
			z-index: 1
			
	@media (min-width:750px) and (max-width:1299px)
		&-nome
			font-size: 49px
			margin-bottom: 25px
			word-spacing: 2px
			
		&-profissao
			font-size: 19px
			letter-spacing: 3px
			word-spacing: 2px
		
	@media (max-width:1299px)
		&-info
			width: 90%
		
	@media (min-width:1300px)
		&-info
			width: 1200px
			
		&-nome,
		&-profissao
			word-spacing: 5px
			
		&-nome
			font-size: 69px
			margin-bottom: 45px
			
		&-profissao
			font-size: 27px
			letter-spacing: 4px



/* ----- principal ----- */
.principal
	position: absolute
	top: 100%
	width: 100%
	z-index: 1



/* ----- sobre ----- */
.sobre
	background: #eee

	&-foto
		border-radius: 100%
		width: 110px

	&-link
		color: $preto

	&-link:hover
		text-decoration: none

	@media (max-width: 629px)
		&-foto
			display: block
			margin: 0 auto
		
		&-texto
			margin-top: 15px

	@media (min-width: 630px)
		&-foto
			float: left
			margin-right: 20px
		
		&-texto
			padding-top: 15px



/* ----- habilidades ----- */
.habilidades
	background: #333
	color: $branco

	&-tt
		background-image: linear-gradient(to right, $branco, $branco)

	&-lista
		margin: -20px auto 0
		overflow: hidden

	&-item
		list-style: inside
		margin-top: 20px
		

	@media (min-width: 740px)
		&-item
			float: left
			width: 25%



/* ----- portfolio ----- */
.portfolio
	background: $branco
	overflow: hidden
	padding-bottom: 0

	&-item
		float: left
		overflow: hidden
		position: relative

	&-item:hover .portfolio-foto
		transform: scale(1.5)

	&-item:hover .portfolio-info
		background: rgba($preto, .8)
		opacity: 1

	&-foto,
	&-info,
	&-link,
		height: 100%
		left: 0
		position: absolute
		top: 0
		max-width: 100%
		width: 100%

	&-info
		color: $branco
		opacity: 0

	&-empresa,
	&-tipo
		position: absolute
		text-align: center
		top: 50%
		width: 100%
		word-spacing: 5px

	&-empresa
		display: block
		font-size: 22px
		margin-top: -20px
		text-transform: uppercase

	&-tipo
		display: block
		margin-top: 20px
	
@media (max-width: 499px)
	.portfolio
		&-item
			padding-bottom: 67%
			width: 100%

@media (min-width: 500px) and (max-width: 899px)
	.portfolio
		&-item
			padding-bottom: 33.6%
			width: 50%

@media (min-width: 900px)
	.portfolio
		&-item
			padding-bottom: 22.3%
			width: 33.33%



/* ----- contato ----- */
.contato
	background: #111

	&-tt
		background-image: linear-gradient(to right, $branco, $branco)
		color: $branco

	&-form
		margin: 0 auto
		overflow: hidden

	&-campo
		background: $branco
		border: none
		color: $preto
		font-size: 14px
		margin-bottom: 1px
		outline: 0
		padding: 8px 10px
		width: 100%

	&-mensagem
		float: left
		height: 150px
		overflow: auto
		resize: none

	&-btn
		background: $branco
		border: none
		color: $preto
		cursor: pointer
		float: right
		font-size: 14px
		outline: 0
		padding: 8px 15px

	&-erro
		background: rgba($vermelho, .7)
		color: $branco
		font-size: 12px
		padding: 3px 10px

@media (min-width: 440px)
	.contato
		&-form
			max-width: 400px